.card{
    width: 18rem;
    margin-top: 100px;
    border: 1px solid #555;
    cursor: pointer;
}   

.options{
    position: absolute;
    background-color: #fff;
    padding-top: auto;
    padding-bottom: auto;
}
.option-edit{
    right: 50px;
    top: -35px;
}
.option-delete{
    right: -1px;
    top: -35px;
}

.row{
    margin-left: -37px;
}

.option-edit-icon{
    height: 25px;
    padding-bottom: 5px;
    padding-left: 2px;
    padding-right: 2px;
}