.card{
    min-width: 60%;
    max-width: 60%;
    border-color: rgb(48, 48, 123);
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-radius: 0px;
}

.mail-icon{
    height: 22px;
}

.chosen-post-body{
    text-align: justify;
}

.row{
    margin-left: -45px;
}

.comment{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

@media (max-width: 770px) {
    .comment{
      flex-direction: column;
    }
 }